h1 {
    color: #FFD0EC;
    background-clip: text;
    font-family: "Roboto", sans-serif;
    font-size: 3.2em;
    line-height: 1.1;
}

.wrap-layer{
    position: relative;
    width: 1000px;
 }

 .main-layer{
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    border-radius: 9%;
    border: #1F2544 solid 3px;
    background-color: #FFD0EC;
    width: 50%;
    height: 50%;
    top: 30%;
    left: 23%;
}

.main-title {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    font-size: 1.8em;
    top: 20%;
    left: 34%;
    color: #FFD0EC;
}