.persBtn {
    background-color: #FFD0EC;
    color: #1F2544;
    font-size: 1.5em;
    align-items: center;
    display: flex;
    border-radius: 0;
    border: #1F2544 solid 2px;
}

.persBtn-top {
    background-color: #FFD0EC;
    color: #1F2544;
    font-size: 1.5em;
    align-items: center;
    display: flex;
    border-radius: 33px 33px 0px 0px;
    border: #1F2544 solid 2px;
}

.persBtn-bottom {
    background-color: #FFD0EC;
    color: #1F2544;
    font-size: 1.5em;
    align-items: center;
    display: flex;
    border-radius: 0px 0px 33px 33px;
    border: #1F2544 solid 2px;
}